.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px grey;
}
.note
{
    font-size: 15px;
    color: black;
}
.copy_right_footer
{
    float: right;
    line-height: 3;
    width: 100%;
    position: fixed;
    color: aqua;
    bottom: 0;
    background-color: black;
}
canvas{
border: 5px solid white;
border-radius: 20px;
box-shadow: 5px 5px 5px grey;
 }